<h2>New Listing</h2>


<form action="/listings/create-new" method="POST">

<p>Title Of Listing</p>
<input type="text" name="theTitle">

{{!-- <p>Image</p> //this one is super special haha I'll come back to you hehehe
<input type="text"> --}}


<p>Description of listing</p>
<textarea name="theDescription" cols="40" rows="20"></textarea>

<p>Price Of Listing</p>
<input type="text" name="thePrice">

<p>Author Of Listing</p>
<input type="text" name="theAuthor">


<button>Submit Listing</button>

</form> 

{{!-- 

      title:
      image:s
      description:
      price:
      author: --}}